/* 文字選択禁止 */
* {
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 画面固定 */
    background: #fff;
    font-family: sans-serif;
}

/* 全体を横2分割にする */
#layout {
    width: 100vw;
    height: calc(100vh - 40px);
    display: flex;
}

/* 左パネル（検出候補） */
#left-panel {
    width: 50%;
    padding: 20px;
}

#title {
    font-size: 32px;
    font-weight: 900;
}

/* 右パネル（カメラ＆ボタン） */
#right-panel {
    width: 50%;
    position: relative;
    padding: 20px;
}

/* カメラ枠固定サイズ（iPhone画面に合わせて絶対溢れない） */
#camera-box {
    width: 100%;
    height: 50%;
    border-radius: 16px;
    overflow: hidden;
    background: #ddd;
}

#camera {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ボタン群（右下固定） */
#button-area {
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    gap: 12px;
}

.action-btn {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    font-size: 28px;
    border: none;
    background: #f3f3f3;
}

/* 下中央のステータス */
#status {
    height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
