body {
    margin: 0;
    font-family: sans-serif;
    background: white;
}

.title {
    margin: 30px;
    font-size: 32px;
    font-weight: bold;
}

.preview-area {
    display: flex;
    justify-content: flex-end; /* 右側に寄せる */
    padding-right: 30px;
}

.preview {
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.button-row {
    position: fixed;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-small {
    font-size: 22px;
    padding: 12px 22px;
    border: none;
    background: #eee;
    border-radius: 15px;
}

.btn-bin {
    font-size: 22px;
    padding: 12px 22px;
    background: #4da3ff;
    border: none;
    border-radius: 15px;
    color: white;
}
